.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }
}

.uit-steps {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uit-step {
    position: relative;
    z-index: 5;
    background-color: $c-white;
    border-left: 1px solid $c-light-grey;
    border-top: 1px solid $c-light-grey;
    padding: 6px;
    margin-bottom: 40vh;
}

.uit-map {
    &.is-fixed {
        position: fixed;
        top: 20vh;
        width: 620px;
        max-width: 100%;
    }

    g.is-active path {
        fill: $c-red;
    }
}